# Ignore Maven target folder
target/

# Ignore Eclipse files
.settings/
.checkstyle
.classpath
.project

# Ignore Intellij files
*.iml
*.iws
*.ipr
.idea/

examples/slim/my-maven-repo/
examples/**/nb-configuration.xml
/extensions/cloud/target/

#gradle
examples/gradle-mdb-rar/.gradle/
examples/gradle-mdb-rar/.mvn/**/*.jar
examples/gradle-mdb-rar/build/
