# Ignore Maven target folder
target/

# Ignore Eclipse files
.settings/
.classpath
.project

# Ignore Intellij files
*.iml
*.iws
*.ipr
.idea/

examples/slim/my-maven-repo/
examples/**/nb-configuration.xml
/extensions/cloud/target/
